@import "../../sass/vars.scss";

.card {
  width: 60%;
  height: fit-content;
  padding: 2rem 4rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $bkg-s;
  filter: drop-shadow(0px 5px 5px #000000a0);
  gap: 1rem;
}
