@import "../../sass/vars.scss";

$tableHeadBg: $acc-p;
$tableHeadText: $acc-s;
$firstColumnText: $acc-p;
$tableLine: $acc-p;

.tableContainer {
  .table {
    border-collapse: collapse;
    width: 100%;

    h2 {
      font-size: 40px;
      font-weight: bold;
      color: $tableHeadBg;
    }

    thead {
      background-color: $tableHeadBg;

      th {
        text-align: left;
        color: $tableHeadText;
        border-bottom: 2px solid $tableLine;
        &:nth-child(1) {
          width: 8%;
        } // Width for the first column
        &:nth-child(2) {
          width: 5%;
        } // Width for the second column
        &:nth-child(3) {
          width: 5%;
        } // Width for the second column
        &:nth-child(4) {
          width: 5%;
        }
        &:nth-child(5) {
          width: 8%;
        }
        &:nth-child(6) {
          width: 5%;
        }
        &:nth-child(7) {
          width: 18%;
        }
        &:nth-child(8) {
          width: 15%;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid $tableLine;

          &:first-child {
            color: $firstColumnText;
            font-weight: bold;
          }

          &:not(:first-child) {
            color: black;
          }
        }
      }
    }
  }
  .tableEdge {
    border-collapse: collapse;
    width: 100%;

    h2 {
      font-size: 40px;
      font-weight: bold;
      color: $tableHeadBg;
    }

    thead {
      background-color: $tableHeadBg;

      th {
        text-align: left;
        color: $tableHeadText;
        border-bottom: 2px solid $tableLine;
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid $tableLine;

          &:first-child {
            color: $firstColumnText;
            font-weight: bold;
          }

          &:not(:first-child) {
            color: black;
          }
        }
      }
    }
  }
}
