@import "../../sass/vars.scss";

.footer {
  background-color: $bkg-p;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 5rem;
  padding: 1rem;

  .icon {
    margin-right: 1rem;
    font-size: 4rem;
    width: 4rem;
    color: $acc-p;
  }
}
