@import "../../sass/vars.scss";

.home-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

  .info-bar {
    height: 100%;
    width: inherit;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $bkg-p;

    .body {
      @include fill-available;
      height: inherit;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 2rem;
      background-color: $bkg-s;

      .level {
        width: 100%;
        font-size: 4rem;
        margin: 0;
        text-align: left;
      }
      .rule {
        width: 100%;
      }
      .list {
        width: 100%;
        text-align: left;
        list-style: initial;
        font-size: 2rem;
        .item {
          color: $acc-p;
          font-size: 2rem;

          &.selected {
            text-decoration: underline;
            color: $txt-p;
            filter: drop-shadow(0px 4px 1px #00000040);
            list-style-type: disclosure-closed;
          }
        }
      }
    }
  }
}
