@import "../../sass/vars.scss";

.button {
  width: fit-content;
  height: fit-content;
  padding: 0.2rem 2rem;
  margin: 0.5rem;
  white-space: nowrap;

  &.blue {
    background-color: $acc-p;
    color: $txt-s;
    border: 10px solid $acc-p;
    border-radius: 5px;

    &:hover {
      background-color: transparent;
      color: $acc-p;
      border: 10px solid $acc-p;
      border-radius: 0;
    }
  }

  &.gold {
    background-color: $acc-s;
    color: $acc-p;
    border: 2px solid $acc-p;
    padding: calc(0.2rem + 9px) calc(2rem + 8px);
    border-radius: 0;

    &:hover {
      background-color: $acc-s;
      padding: 0.2rem 2rem;
      border: 10px solid $acc-p;
      border-radius: 0;
    }
  }
}

.small-text-wrapper {
  width: 100%;
  p {
    color: $txt-p;
    margin: 0;
    text-align: left;
  }
  .small-text {
    width: 100%;
    height: 2rem;
  }
}

.large-text-wrapper {
  width: 100%;
  p {
    color: $txt-p;
    margin: 0;
    text-align: left;
  }
  .large-text {
    width: 100%;
    min-height: 4rem;
  }
}

.selection-wrapper {
  width: 100%;
  p {
    color: $txt-p;
    margin: 0;
    text-align: left;
  }
  .selection {
    width: 100%;
    height: 2rem;

    .head {
      border: 1px solid $txt-p;
      text-align: left;
      height: 2rem;
      &:hover {
      }
    }
    .list {
      display: none;

      background-color: $bkg-t;
      width: auto;
      height: fit-content;
      overflow-y: scroll;
      padding: 1rem;
      gap: 0.1rem;

      &:hover {
        display: block;
        position: absolute;
        z-index: 2;
      }
    }

    .head:hover ~ .list {
      display: block;
      position: absolute;
      z-index: 2;
    }
  }
}

.selection-item {
  background-color: #00000000;

  &:hover {
    background-color: #00000020;
  }
}
