$bkg-p: #f1f1f1;
$bkg-s: #ffffff;
$bkg-t: #e4e4e4;
$txt-p: #2f2f2f;
$txt-s: #ffffff;
$txt-e: #ec5353;
$acc-p: #012d5a;
$acc-s: #f6bd38;
$anc: #0067b1;
$logo: #6b6d6e;

@mixin fill-available {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
